<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cookies</title>
</head>
<body>
    <form action="/saveCookies" method="post">
        <label for="fname">key:</label><br>
        <input type="text" id="key" name="key" ><br>
        <label for="lname">value:</label><br>
        <input type="text" id="val" name="val" ><br><br>
        <input type="submit" value="Submit">
      </form> 


     
      <table class="table">
        
        <thead>
          <tr>
            <th scope="col">key</th>
            <th scope="col">val</th>
          </tr>
        </thead>
        <tbody>
          <% for(let i in cookies) {%>
          <tr>
            <td><%= i %></td>
            <td><%= cookies[i] %></td>
          </tr>
          <% } %>
        </tbody>
      </table>
     
</body>
</html>