<!DOCTYPE html>
<html>
    <head>
        <title>Shopping Cart</title>
    </head>
    <body>
        <h1>Shopping Cart</h1>
        <% if(products.length===0){ %>
            <p>Your Cart is Empty</p>
        <% } else { %>
            <% for(let item of items){ %>
                <li>Name:<%=item.name%></li>
                <ul>
                    <li>Price:<%=item.price%></li>
                    <li>Quantity:<%=item.quantity%></li>
                </ul>
            <%} %>
        <% } %>

        <button onclick="history.back()">Go Back to product</button>
    </body>
</html>