<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <form method="POST" action="/result">
        <label for="name" >Name</lable>
        <input id="name"  type="text" name="name">
        <label for="age" >Age</lable>
        <input id="age" type="number" name="age">
        <input type="submit" value ="submit Query" >
        </form>
</body>
</html>