<!DOCTYPE html>
<html lang="en">

<head>
    <title>Magic 8 ball</title>
    <meta charset="utif-8">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="/js/index.js"></script>
</head>

<body>
    <form id="8ball">
        <input id="question">
        <input type="submit" value="Ask 8 ball">
        <span id="msg"></span>
    </form>
    Press ENTER to submit.
</body>

</html>